<div class="artboard">
    <div class="card">
   
     <div class="card__side card__side--back">
      <div class="card__cover">
       <h4 class="card__heading">
        <span class="card__heading-span">Mesomorph</span>
       </h4>
      </div>
      <div class="card__details">
       <ul>
        <li>Mesomorphs are individuals with a naturally athletic and muscular body shape, characterized by a well-defined physique and an ability to easily build and maintain muscle mass.</li>
        <li>People with a mesomorph body type tend to have a moderate metabolism and may find it easier to both gain and lose weight compared to other body types.</li>
        <li>Mesomorphs often have a well-proportioned body with broad shoulders, a narrow waist, and a muscular frame.</li>
       </ul>
      </div>
     </div>
   
     <div class="card__side card__side--front">
      <div class="card__theme">
       <div class="card__theme-box">
        <p class="card__subject">Body Type</p>
        <p class="card__title">Mesomorph</p>
       </div>
      </div>
     </div>
   
    </div>
   </div>