
<div class="center-container">
<div class="container">
    <h2>Login</h2>
    <form class="register-form" (submit)="login()">
        <div class="form-field">
            <label for="name" style="color: #ebe6c3;">Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="name" required>
          </div>
          <div class="form-field">
            <label for="password" style="color: #ebe6c3;">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
          </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>