<div class="artboard">
    <div class="card">
   
     <div class="card__side card__side--back">
      <div class="card__cover">
       <h4 class="card__heading">
        <span class="card__heading-span">Endomorph</span>
       </h4>
      </div>
      <div class="card__details">
       <ul>
        <li>Endomorphs are individuals with a naturally stocky and round body shape, characterized by higher levels of body fat and a slower metabolism.</li>
        <li>People with an endomorph body type may find it easier to gain weight, particularly in the form of body fat, and may have a harder time losing weight.</li>
        <li>Endomorphs often have a wider bone structure, shorter limbs, and a tendency to store excess weight in the midsection.</li>
       </ul>
      </div>
     </div>
   
     <div class="card__side card__side--front">
      <div class="card__theme">
       <div class="card__theme-box">
        <p class="card__subject">Body Type</p>
        <p class="card__title">Endomorph</p>
       </div>
      </div>
     </div>
   
    </div>
   </div>